body {
    text-align: center;
    font-size: 24px;
}

.song { 
    box-shadow: darkgreen;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 250px;
    margin-left: 250px;
}

.playlists{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 250px;
    margin-left: 250px;
}

ul {
    list-style-type: none;
  }
img{
    height: 150px;
    width: 150px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}
.selected {
    border: 5px solid red;
}