body {
    background-color:lightgray;
}
body > div {
    text-align: center;
    font-size: 24px;
}

div > div {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 250px;
    margin-left: 250px;
}
.song {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 250px;
    margin-left: 250px;
}

.playlists{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 250px;
    margin-left: 250px;
}

ul {
    list-style-type: none;
  }
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }
  .songs.gallery{
  margin: 5px
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  }